.main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  &::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url('../images/main_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: filter 1s;
  }

  &:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }

  &:hover {
    .content {
      filter: blur(2px);
      -webkit-filter: blur(2px);
    }
  }
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 25%;
  margin-top: 105px;
  margin-left: -145px;
  width: 350px;
  height: 350px;
  text-align: center;
  transition: filter 1s;

  .logo {
    height: auto;
    width: 18vw;
  }

  .name {
    height: auto;
    width: 27vw;
    margin-top: 2.2rem;
  }

  .text {
    line-height: 1.7;
    margin-top: 1rem;
    font-size: 1.1rem;
  }
}

.txt-type {
  color: #4bffa5;
}

.menu_wrapper {
  text-align: center;

  a {
    position: absolute;
    color: #4bffa5;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 auto;
    z-index: 1;
    cursor: pointer;
  }

  a:hover {
    font-size: 17px;
    color: #35b373;
  }

  .aboutBtn {
    top: 20px;
    left: 0;
    right: 0;
    width: 50px;
  }

  .contactBtn {
    bottom: 20px;
    left: 0;
    right: 0;
    width: 150px;
  }

  .skillsBtn {
    top: 50%;
    left: 0;
    transform: rotateZ(-90deg);
    margin-top: -15px;
  }

  .projectsBtn {
    top: 50%;
    right: 0;
    transform: rotateZ(90deg);
    margin-top: -15px;
  }
}