//-----------------------------------main-----------------------------------------------
@media screen and (max-width: 768px) {
  .content {
    .logo {
      display: block;
      margin: 0 auto;
    }

    .name {
      display: block;
      margin: 0 auto;
    }
  }
}

//-----------------------------------about----------------------------------------------
@media screen and (max-width: 768px) {
  .about_content {
    img {
      width: 15rem !important;
      height: 15rem !important;
    }
  }
}

//-----------------------------------skills---------------------------------------------
@media (max-width: 900px) {
  #timeline {
    ul {
      li {
        div {
          width: 250px !important;
        }

        &:nth-child(odd) {
          div {
            right: -284px !important;
          }
        }
      }
    }
  }
  .skill_container {
    h3 {
      font-size: 15px !important;
      position: absolute;
      top: 5%;
      left: 35%;
    }
  }
}

@media (max-width: 600px) {
  #timeline {
    ul {
      li {
        margin-right: 20px !important;

        div {
          width: calc(100vw - 90px) !important;
        }

        &:nth-child(odd) {
          div {
            right: 40px !important;

            &:before {
              right: -15px !important;
              border-width: 8px 0 8px 16px !important;
              border-color: transparent transparent transparent rgba(0, 0, 0, 0.5) !important;
            }
          }
        }
      }
    }
  }
}

//-----------------------------------projects-------------------------------------------
@media screen and (max-width: 690px) {
  .grid-item {
    .project_title {
      font-size: 1rem !important;
    }

    .project_tech {
      font-size: 1rem !important;
    }
  }
}

@media screen and (max-width: 990px) {
  .grid-container {
    grid-template-columns: 1fr !important;
    grid-gap: 5% !important;
  }
  .grid-item:nth-child(even) {
    margin-left: 0 !important;
  }
  .grid-item {
    padding: 10px !important;

    > span {
      left: 5% !important;
    }
  }
}